html
    head
        title Page 1
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        h1 Page 1
        div Bem vindo #{username}, como você está?
        p
            a(href='/index') Index
        p
            a(href='page1') Page 1
        p
            a(href='page2') Page 2
        p
            a(href='page3') Page 3 
        form( action="/logoff" method="POST" ) 
            input( type="submit" value="Logoff" )